# BASE
# Use for hashing datas and app security
APP_NAME=Arch.TI
APP_KEY=

# Use for authentication and JWT keys generation
JWT_SECRET=

# Project settings mode - dev: for devs testing, production: enables http security, encryptions, etc.
APP_ENV=dev

# Enable api plans and features - Paid features, expiration, etc
ENABLE_PLANS=true

# Postgres Database Url
DATABASE_URL=
# END BASE

# UTILS
# Base frontend Url - For api redirects
FRONTEND_URL=
# END UTILS

# MAILER
SMTP_HOST=localhost # mailpit
SMTP_PORT=1025 # mailpit
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTH=false
SMTP_STARTTLS=false
SMTP_MAIL_FROM=${APP_NAME}