# Use for hashing datas and app security
APP_KEY=

# Use for authentication and JWT keys generation
JWT_SECRET=

# Project settings mode - dev: for devs testing, production: enables http security, encryptions, etc.
APP_ENV=dev

# Enable api plans and features - Paid features, expiration, etc
ENABLE_PLANS=

# Postgres Database Url
DATABASE_URL=

# Base frontend Url - For api redirects
FRONTEND_URL=