{{#> layouts/base }}
    <p class="eyebrow">Access recovery</p>
    <h1 class="title">We received your request.</h1>
    <p class="text">
        Hello, {{name}}. We received a request related to the password recovery process for your account.
    </p>
    <p class="text">
        If this was you, follow the instructions sent by the platform to complete the reset securely.
    </p>

    <div class="panel">
        <div class="panel-inner">
            <table role="presentation" width="100%">
                <tr class="row">
                    <td class="label-cell">Account holder</td>
                    <td class="value-cell">{{name}}</td>
                </tr>
                <tr class="row">
                    <td class="label-cell">Request</td>
                    <td class="value-cell">Password recovery started</td>
                </tr>
            </table>
        </div>
    </div>

    <p class="note">
        If you did not make this request, ignore this message and review your account security.
    </p>
{{/layouts/base}}
