<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            {{> header}}
            <main>
                {{> @partial-block}}
            </main>
            {{> footer}}
        </div>
    </body>
</html>
