{{#> layouts/base }}
    <h1>Hello, {{name}}!</h1>
    <p>You have successfully registered on our platform; now, check out the best plans we have to offer on our page.</p>
    <a href="{{}}">Visit our page</a>
{{/ /layouts/base }}